.header {
    background: var(--gray-700);
    display: flex;
    justify-content: center;
    padding: 1.25rem 0;
    height: 8rem;
  }

  .header img {
    height: 3rem;
    
  }
  
  .header h1 {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 0.5rem;
    color: var(--blue-clean);
    font-weight: bolder;
  }

  strong {
    background: -webkit-linear-gradient(var(--blue-clean), var(--purple-dark));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }