.container {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;

  padding: 5rem 0.625rem;
  
  background-color: var(--gray-700);
}

img {
  height: 4rem;

}

h1 {
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}