.container {
    display: flex;
    flex: 1;
  
    align-items: center;
    justify-content: space-between;
  }
  
  .container aside {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  
    font-weight: bold;
  }
  
  .container aside:first-child {
    color: var(--blue);
  }
  
  .container aside:last-child {
    color: var(--purple);
  }
  
  .container aside p {
    font-size: 0.875rem;
  }
  
  .container aside span {
    padding: 2px 8px;
    border-radius: 16px;
  
    font-size: 0.75rem;
  
    color: var(--gray-200);
    background-color: var(--gray-400);
  }

  .created {
    color: var(--blue-clean);
  }

  .completed {
    color: var(--purple-clean);
  }

  @media (max-width: 756px) {
    .container {
      flex-direction: column; /* Alterando a direção do flex para empilhar os elementos verticalmente */
      margin-left: 0.990rem;
      margin-right: 0.990rem;
    }
  
    .container aside {
      width: 100%; /* Garantindo que os elementos ocupem toda a largura disponível */
      justify-content: space-between; /* Espaçamento igual entre os elementos */
    }
  
    .container aside span {
      margin-top: 0.5rem; /* Adicionando espaço acima do span */
    }
  }